@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800&display=swap');
@keyframes extend {
    from {
        min-width: 50%;
        /* border-bottom: 2px solid var(--accent-color); */
    }
    to {
        min-width: 76%;
        /* border-bottom: 2px solid var(--primary-color); */
    }
}

@keyframes retract {
    from {
        min-width: 76%;
        border-bottom: 2px solid var(--text-color);
    }
    to {
        min-width: 50%;
        border-bottom: 2px solid var(--accent-color);
    }
}

@keyframes hover-color {
    from {
        border-bottom: 2px solid var(--accent-color);
        color: var(--accent-color);
    }
    to {
        border-bottom: 2px solid var(--text-color);
        color: var(--text-color);
    }
}

@keyframes showTitle {
    from {clip-path: inset(0 100%);}
    to {clip-path: inset(0);}
}

@keyframes hideTitle {
    from {clip-path: inset(0);}
    to {clip-path: inset(0 100%);}
}

:root {
    --primary-color: #121212;
    --secondary-color: #8FD5A6;
    --secondary-color-dark: #5fa377;
    --less-dark-gray: #272727;
    --text-color: #ffffff;
    --secondary-text-color: #000000;
    --accent-color: #464646;
}

html, body {
    height: 100%;
}

body {
    background: var(--primary-color);
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 20px; /* spacing from footer */
}

/* 
*   TITLE
*/
.list-title {
    margin: 80px 0 2% 0;
    font-size: 41px;
    display: flex;
    justify-content: center;
}

.list-title div {
    margin: 0 25%;
    min-width: 1%;
    text-align: left;
    /* word-break: break-all; */
}

.list-title textarea {
    display: none;
}

.list-title.edit div {
    display: none;
}

.list-title.edit textarea {
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--text-color);
    /* color: var(--text-color); */
    clip-path: inset(0 100%);
    display: initial;
    font-size: 41px;
    overflow: hidden;
    text-align: left;
    transition: clip-path 0.2s ease-out;
    /* word-break: break-all; */
    width: 50%;
}

.list-title.edit textarea:focus {
    clip-path: inset(0);
}

/*
*   LIST
*/
.list {
    background-color: var(--less-dark-gray);
    margin: 0 30% 0 30%;
    /* box-shadow: 0px 0px 3px grey; */
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li {
    margin-bottom: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

li:first-child {
    margin-top: 3%;
}

li:last-child {
    margin-bottom: 3%;
}

li > div {
    /* border: 1px solid black; */
    /* height: 27px; */
    /* margin: 0; */
    /* padding: 0; */
    /* vertical-align: top; */
    word-wrap: break-word;
}

textarea {
    background-color: var(--less-dark-gray);
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 0;
    resize: none;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

textarea:focus {
    outline: none;
}

li textarea {
    display: none;
}

li.edit div {
    display: none;
}

li.edit textarea {
    display: initial;
}

.new-li {
    border-bottom: 2px solid var(--accent-color);
    color: var(--accent-color);
    margin-bottom: 0px;
    min-height: 26px;
    min-width: 50%;
    max-width: 50%;
}

.active {
    border-bottom: 2px solid var(--text-color);
    color: var(--text-color);
    min-width: 76%;
    animation: extend 0.4s ease;
}

.deactive {
    animation: retract 0.5s ease;
}

.checked {
    color: var(--accent-color);
    text-decoration: line-through;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
}

#myButton {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 15px 15px 0 0;
    color: var(--primary-color);
    font-size: 20px;
    height: 40px;
    margin-right: 15px;
    position: relative;
    width: 60px;
}

#myButton:focus {
    outline: none;
}

.footerLip {
    background-color: var(--secondary-color);
    height: 10px;
}

/* 
*   FOOTER 
*/
footer {
    background-color: var(--secondary-color);
    display: none;
    /* flex-shrink: 0; */
    color: var(--secondary-text-color);
    padding-top: 25px;
    text-align: center;
}

p {
    margin: 0;
    /* font-weight: 500; */
    padding: 0 20px;
}

.copyright {
    background-color: var(--secondary-color-dark);
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    margin-top: 25px;
    vertical-align: middle;
}

/*
*   RESPONSIVE
*/
@media only screen and (max-width: 1350px) {
    .list-title {
        font-size: 39px;
    }

    .list-title.edit textarea {
        font-size: 39px;
    }
    
    .list {
        margin: 0 30% 0 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .list-title {
        font-size: 37px;
        margin: 50px 0 3% 0;
    }

    .list-title.edit textarea {
        font-size: 37px;
    }
    
    .list {
        margin: 0 25% 0 25%;
    }
}

@media only screen and (max-width: 800px) {
    .list-title {
        font-size: 35px;
    }

    .list-title div {
        margin: 0 20%;
    }

    .list-title.edit textarea {
        font-size: 35px;
        width: 60%;
    }
    
    .list {
        margin: 0 20%;
    }

    ul {
        font-size: 18px;
    }

    .new-li {
        min-height: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .list-title {
        font-size: 32px;
        margin: 50px 0 6% 0;
    }

    .list-title.edit textarea {
        font-size: 32px;
    }
    
    .list {
        margin: 0 15% 0 15%;
    }
    
    ul {
        font-size: 16px;
    }

    .new-li {
        min-height: 19px;
    }
}

@media only screen and (max-width: 450px) {
    .list-title {
        font-size: 27px;
        margin: 40px 0 6% 0;
    }

    .list-title.edit textarea {
        font-size: 27px;
    }
    
    .list {
        margin: 0 10% 0 10%;
    }
    
    ul {
        font-size: 16px;
    }

    .new-li {
        min-height: 19px;
    }
}

/* mouse, touch pad (aka PC) */
@media (hover: hover) and (pointer: fine) {
    .new-li:hover {
        /* animation: hover-color 0.4s ease; */
        border-bottom: 2px solid var(--text-color);
        color: var(--text-color);
    }
}