@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800&display=swap');
@keyframes extend {
    from {
        min-width: 0;
        /* border-bottom: 2px solid var(--accent-color); */
    }
    to {
        min-width: 76%;
        /* border-bottom: 2px solid var(--primary-color); */
    }
}

@keyframes retract {
    from {
        min-width: 76%;
        border-bottom: 2px solid var(--primary-color);
    }
    to {
        min-width: 50%;
        border-bottom: 2px solid var(--accent-color);
    }
}

:root {
    --primary-color: #3F403F;
    --secondary-color: #475841;
    --accent-color: #CED0CE;
}

html, body {
    height: 100%;
}

body {
    background: var(--primary-color);
    font-family: 'Recursive', sans-serif;
    font-weight: 400;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
    margin-bottom: 20px;
}

/* 
*   TITLE
*/
.list-title {
    color: white;
    margin: 80px 0 25px 0;
    font-size: 45px;
    display: flex;
    justify-content: center;
}

.list-title div {
    margin: 0 25%;
    min-width: 1%;
    text-align: justify;
    /* word-break: break-all; */
}

.list-title textarea {
    display: none;
}

.list-title.edit div {
    display: none;
}

.list-title.edit textarea {
    background-color: var(--primary-color);
    border-bottom: 2px solid white;
    color: white;
    clip-path: inset(0 100%);
    display: initial;
    font-size: 45px;
    overflow: hidden;
    text-align: justify;
    transition: clip-path 0.2s ease-out;
    /* word-break: break-all; */
    width: 50%;
}

.list-title.edit textarea:focus {
    clip-path: inset(0)
}

/*
*   LIST
*/
.list {
    background-color: white;
    margin: 0 30% 0 30%;
    /* box-shadow: 0px 0px 3px grey; */
    padding: 20px;
}

ul {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li {
    margin-bottom: 8px;
    margin-left: 10%;
    margin-right: 10%;
}

li:first-child {
    margin-top: 3%;
}

li > div {
    /* border: 1px solid black; */
    /* height: 27px; */
    /* margin: 0; */
    /* padding: 0; */
    /* vertical-align: top; */
    word-wrap: break-word;
}

textarea {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding: 0;
    resize: none;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box; /* <=iOS4, <= Android  2.3 */
       -moz-box-sizing: border-box; /* FF1+ */
            box-sizing: border-box; /* Chrome, IE8, Opera, Safari 5.1*/
}

textarea:focus {
    outline: none;
}

li textarea {
    display: none;
}

li.edit div {
    display: none;
}

li.edit textarea {
    display: initial;
}

.new-li {
    border-bottom: 2px solid var(--accent-color);
    color: var(--accent-color);
    margin-bottom: 0px;
    min-height: 26px;
    min-width: 50%;
    max-width: 50%;
    animation: retract 0.5s ease;
}

.active {
    border-bottom: 2px solid var(--primary-color);
    color: var(--primary-color);
    min-width: 76%;
    animation: extend 0.4s ease;
}

.checked {
    color: var(--accent-color);
    text-decoration: line-through;
}

/* 
*   FOOTER 
*/
footer {
    background-color: var(--secondary-color);
    /* flex-shrink: 0; */
    color: white;
    text-align: center;
}

/*
*   RESPONSIVE
*/
@media only screen and (max-width: 1350px) {
    .list {
        margin: 0 30% 0 30%;
    }
}

@media only screen and (max-width: 1000px) {
    .list-title {
        font-size: 40px;
    }

    .list-title.edit textarea {
        font-size: 40px;
    }
    
    .list {
        margin: 0 25% 0 25%;
    }
}

@media only screen and (max-width: 800px) {
    .list {
        margin: 0 20% 0 20%;
    }

    ul {
        font-size: 18px;
    }

    .new-li {
        min-height: 22px;
    }
}

@media only screen and (max-width: 600px) {
    .list-title {
        font-size: 35px;
    }

    .list-title.edit textarea {
        font-size: 35px;
    }
    
    .list {
        margin: 0 15% 0 15%;
    }
    
    ul {
        font-size: 16px;
    }

    .new-li {
        min-height: 19px;
    }
}

/* mouse, touch pad */
@media (hover: hover) and (pointer: fine) {
    .new-li:hover {
        border-bottom: 2px solid var(--primary-color);
        color: var(--primary-color);
    }
}